- name: laptop | Set laptop fact
  ansible.builtin.set_fact:
    common_is_laptop: "{{ ansible_facts.form_factor | trim | lower in ['laptop', 'notebook', 'convertible', 'portable'] }}"

- name: laptop | Configure laptop
  when: is_laptop
  ansible.builtin.template:
    src: "laptop_logind.conf"
    dest: "/etc/systemd/logind.conf"
    owner: root
    group: root
    mode: "644"
    notify: Restart logind
