- name: no_subscription | Check if proxmox no subscription repo exists
  ansible.builtin.stat:
    path: /etc/apt/sources.list.d/proxmox.sources
  register: proxmox_repo

- name: no_subscription | Configure no subscription repos
  when: not proxmox_repo.stat.exists
  block:
    - name: no_subscription | Remove enterprise sources
      ansible.builtin.file:
        path: /etc/apt/sources.list.d/pve-enterprise.sources
        state: absent
    - name: no_subscription | Add proxmox no subscription repo
      ansible.builtin.template:
        src: "proxmox.sources"
        dest: "/etc/apt/sources.list.d/proxmox.sources"
        owner: root
        group: root
        mode: "644"
    - name: no_subscription | Add proxmox ceph no subscription repo
      ansible.builtin.template:
        src: "ceph.sources"
        dest: "/etc/apt/sources.list.d/ceph.sources"
        owner: root
        group: root
        mode: "644"
    - name: no_subscription | Apt update
      ansible.builtin.apt:
        update_cache: true
