- name: certs | Check if proxmox
  ansible.builtin.set_fact:
    tailscale_is_proxmox: "{{ 'pve' in ansible_facts.kernel }}"

- name: certs | Check if update script exists
  ansible.builtin.stat:
    path: /root/scripts/update_cert.sh
  register: tailscale_cert_script

- name: certs | Setup tailscale cert renewal
  when:
    - tailscale_is_proxmox
    - not tailscale_cert_script.stat.exists
  block:
    - name: certs | Install script dependencies
      ansible.builtin.apt:
        name:
          - jq

    - name: certs | Create scripts directory
      ansible.builtin.file:
        path: "/root/scripts"
        state: directory
        mode: "755"

    - name: certs | Save update script
      ansible.builtin.template:
        src: "update_cert.sh"
        dest: "/root/scripts/update_cert.sh"
        owner: root
        group: root
        mode: "755"
      notify: Run update cert script

    - name: certs | Add cron job
      ansible.builtin.cron:
        name: "update tailscale cert"
        minute: "0"
        hour: "*/12"
        job: "/root/scripts/update_cert.sh"
        user: root
