- name: Check if tailscale is installed
  stat:
    path: /usr/bin/tailscale
  register: tailscale_bin

- name: Do install
  shell:
    cmd: "curl -fsSL https://tailscale.com/install.sh | sh"
    chdir: "/root"
  when: not tailscale_bin.stat.exists
