- name: install | Check if tailscale is installed
  ansible.builtin.stat:
    path: /usr/bin/tailscale
  register: tailscale_bin

- name: install | Installation Tasks
  when: not tailscale_bin.stat.exists
  block:
    - name: install | Download Tailscale installation script
      ansible.builtin.get_url:
        url: https://tailscale.com/install.sh
        dest: /tmp/tailscale-install.sh
        mode: "755"

    - name: install | Execute Tailscale installation script
      ansible.builtin.command:
        cmd: "/tmp/tailscale-install.sh"
        chdir: /root
      changed_when: true
