- name: join | Check if tailscale is authenticated
  ansible.builtin.command: tailscale status
  register: tailscale_status
  changed_when: false
  failed_when: false

- name: join | Get tailscale access token
  become: false
  ansible.builtin.uri:
    url: https://api.tailscale.com/api/v2/oauth/token
    method: POST
    body_format: form-urlencoded
    body:
      client_id: "{{ tailscale_client_id }}"
      client_secret: "{{ tailscale_client_secret }}"
      grant_type: client_credentials
  register: tailscale_access_token
  delegate_to: localhost
  run_once: true

- name: join | Authenticate tailscale
  when: tailscale_status.rc != 0
  block:
    - name: join | Create auth key
      become: false
      ansible.builtin.uri:
        url: "https://api.tailscale.com/api/v2/tailnet/{{ tailscale_tailnet }}/keys"
        method: POST
        body_format: json
        headers:
          Authorization: "Bearer {{ tailscale_access_token.json.access_token }}"
        body:
          capabilities:
            devices:
              create:
                reusable: false
                ephemeral: false
                preauthorized: true
                tags:
                  - "tag:server"
          expirySeconds: 3600
      register: tailscale_auth_key
      delegate_to: localhost

    - name: join | Tailscale up
      changed_when: false
      ansible.builtin.command: "tailscale up --authkey={{ tailscale_auth_key.json.key }} --hostname={{ inventory_hostname }}"
